<a href="https://colab.research.google.com/github/tylin23/netflix-analysis/blob/master/all_weeks_countries_netflix_full%E7%AF%A9%E9%81%B8%E7%BE%8E%E5%9C%8B%E8%B3%87%E6%96%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 初始工作


1.   github引入資料
2.   電腦建環境
3.   開環境
4.   裝套件

In [1]:
!git clone https://github.com/tylin23/netflix-analysis.git

Cloning into 'netflix-analysis'...
remote: Enumerating objects: 17, done.
remote: Counting objects: 100% (17/17), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 17 (delta 2), reused 11 (delta 1), pack-reused 0 (from 0)
Receiving objects: 100% (17/17), 10.48 MiB | 4.80 MiB/s, done.
Resolving deltas: 100% (2/2), done.

In [2]:
!pip install openpyxl
!pip install xlrd

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [3]:
import pandas as pd
from google.colab import drive
from tabulate import tabulate
import pandas as pd
import os

# 一、讀入Netflix官網排行榜資料excel檔

In [4]:
# drive.mount('/content/drive')
# # 檔案位於雲端硬碟的"data"資料夾中
# file_path = '/content/drive/MyDrive/F246F5A8785BFBF92BD03F145AFD531A052D168F_netflix_data.zip (Unzipped Files)/all-weeks-countries.xlsx'

file_path = '/content/netflix-analysis/netflix_data/all-weeks-countries.xlsx'

In [5]:
df = pd.read_excel(file_path, engine='openpyxl')
print(df.head())

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  country_name country_iso2        week category  weekly_rank  \
0    Argentina           AR  2024-08-18    Films            1
1    Argentina           AR  2024-08-18    Films            2
2    Argentina           AR  2024-08-18    Films            3
3    Argentina           AR  2024-08-18    Films            4
4    Argentina           AR  2024-08-18    Films            5

                 show_title season_title  cumulative_weeks_in_top_10
0  I Can't Live Without You          NaN                           1
1                 The Union          NaN                           1
2          Lolo and the Kid          NaN                           1
3                 Ambulance          NaN                           2
4                   Perdida          NaN                           2

# 二、篩選出美國地區資料

In [7]:
# 篩選出美國的資料
df_usa = df[df['country_name'] == 'United States']

# 顯示資料狀況
print(df_usa.info())

# 印出資料前五筆
print(df_usa.head())

# 顯示資料筆數
print(f"美國的資料筆數: {df_usa.shape[0]}")

<class 'pandas.core.frame.DataFrame'>
Index: 3280 entries, 292620 to 295899
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country_name                3280 non-null   object
 1   country_iso2                3280 non-null   object
 2   week                        3280 non-null   object
 3   category                    3280 non-null   object
 4   weekly_rank                 3280 non-null   int64
 5   show_title                  3280 non-null   object
 6   season_title                1558 non-null   object
 7   cumulative_weeks_in_top_10  3280 non-null   int64
dtypes: int64(2), object(6)
memory usage: 230.6+ KB
None
         country_name country_iso2        week category  weekly_rank  \
292620  United States           US  2024-08-18    Films            1
292621  United States           US  2024-08-18    Films            2
292622  United States           US  2024-08-18    Films            3
292623  United States           US  2024-08-18    Films            4
292624  United States           US  2024-08-18    Films            5

                  show_title season_title  cumulative_weeks_in_top_10
292620             The Union          NaN                           1
292621       The Emoji Movie          NaN                           2
292622          Night School          NaN                           1
292623  Trolls Band Together          NaN                           5
292624  Dr. Seuss' The Lorax          NaN                           6
美國的資料筆數: 3280

# 三、新增「year」年份欄位

In [8]:
# 將這個dataframe新增一欄位「year」
df_usa['year'] = ''

# 以欄位「week」去生成出新欄位「year」的資料，期望的輸入輸出格式：2024-08-18 --> 2024
df_usa['year'] = df_usa['week'].str[0:4]
print(df_usa.head())

         country_name country_iso2        week category  weekly_rank  \
292620  United States           US  2024-08-18    Films            1
292621  United States           US  2024-08-18    Films            2
292622  United States           US  2024-08-18    Films            3
292623  United States           US  2024-08-18    Films            4
292624  United States           US  2024-08-18    Films            5

                  show_title season_title  cumulative_weeks_in_top_10  year
292620             The Union          NaN                           1  2024
292621       The Emoji Movie          NaN                           2  2024
292622          Night School          NaN                           1  2024
292623  Trolls Band Together          NaN                           5  2024
292624  Dr. Seuss' The Lorax          NaN                           6  2024

<ipython-input-8-ae806689a38d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_usa['year'] = ''
<ipython-input-8-ae806689a38d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_usa['year'] = df_usa['week'].str[0:4]

# 四、篩出年份區間為2021-2023的資料作使用

In [9]:
# 篩出年份區間為2021-2023的資料作使用
df_usa_2021_2023 = df_usa[(df_usa['year'] >= '2021') & (df_usa['year'] <= '2023')]

print(df_usa_2021_2023.head())
print(df_usa_2021_2023.info())
print(f"美國地區2021-2023的資料筆數: {df_usa_2021_2023.shape[0]}")

         country_name country_iso2        week category  weekly_rank  \
293280  United States           US  2023-12-31    Films            1
293281  United States           US  2023-12-31    Films            2
293282  United States           US  2023-12-31    Films            3
293283  United States           US  2023-12-31    Films            4
293284  United States           US  2023-12-31    Films            5

                                    show_title season_title  \
293280  Rebel Moon — Part One: A Child of Fire          NaN
293281             The Super Mario Bros. Movie          NaN
293282                   Sniper: Ultimate Kill          NaN
293283                  Sniper: Assassin's End          NaN
293284                       Meg 2: The Trench          NaN

        cumulative_weeks_in_top_10  year
293280                           2  2023
293281                           5  2023
293282                           1  2023
293283                           1  2023
293284                           1  2023
<class 'pandas.core.frame.DataFrame'>
Index: 2620 entries, 293280 to 295899
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country_name                2620 non-null   object
 1   country_iso2                2620 non-null   object
 2   week                        2620 non-null   object
 3   category                    2620 non-null   object
 4   weekly_rank                 2620 non-null   int64
 5   show_title                  2620 non-null   object
 6   season_title                1263 non-null   object
 7   cumulative_weeks_in_top_10  2620 non-null   int64
 8   year                        2620 non-null   object
dtypes: int64(2), object(7)
memory usage: 204.7+ KB
None
美國地區2021-2023的資料筆數: 2620

# 五、刪除「show_title」為空的缺失值

In [10]:
# 刪除 'show_title' 欄位為空的資料列
df_usa_2021_2023_cleaned = df_usa_2021_2023.dropna(subset=['show_title'])

# 檢查刪除後的資料
print(df_usa_2021_2023_cleaned.info())
print(df_usa_2021_2023_cleaned.head())

# 顯示刪缺失值後的資料筆數
print(f"刪缺失值後的資料筆數: {df_usa_2021_2023_cleaned.shape[0]}")

<class 'pandas.core.frame.DataFrame'>
Index: 2620 entries, 293280 to 295899
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country_name                2620 non-null   object
 1   country_iso2                2620 non-null   object
 2   week                        2620 non-null   object
 3   category                    2620 non-null   object
 4   weekly_rank                 2620 non-null   int64
 5   show_title                  2620 non-null   object
 6   season_title                1263 non-null   object
 7   cumulative_weeks_in_top_10  2620 non-null   int64
 8   year                        2620 non-null   object
dtypes: int64(2), object(7)
memory usage: 204.7+ KB
None
         country_name country_iso2        week category  weekly_rank  \
293280  United States           US  2023-12-31    Films            1
293281  United States           US  2023-12-31    Films            2
293282  United States           US  2023-12-31    Films            3
293283  United States           US  2023-12-31    Films            4
293284  United States           US  2023-12-31    Films            5

                                    show_title season_title  \
293280  Rebel Moon — Part One: A Child of Fire          NaN
293281             The Super Mario Bros. Movie          NaN
293282                   Sniper: Ultimate Kill          NaN
293283                  Sniper: Assassin's End          NaN
293284                       Meg 2: The Trench          NaN

        cumulative_weeks_in_top_10  year
293280                           2  2023
293281                           5  2023
293282                           1  2023
293283                           1  2023
293284                           1  2023
刪缺失值後的資料筆數: 2620

# 六、把電影的最後最新一筆留下
因為是每週排行資料集，單一電影可能會有多次入榜紀錄的情況

In [11]:
# 確保 'week' 欄位為日期格式
df_usa_2021_2023_cleaned['week'] = pd.to_datetime(df_usa_2021_2023_cleaned['week'])

# 對每部電影(show_title)分組，並保留每組最新的 'week' 資料
df_latest_movie = df_usa_2021_2023_cleaned.loc[df_usa_2021_2023_cleaned.groupby('show_title')['week'].idxmax()]

# 檢查結果
print(df_latest_movie.head())
print(f"處理後的資料筆數: {df_latest_movie.shape[0]}")

         country_name country_iso2       week category  weekly_rank  \
294906  United States           US 2022-06-12    Films            7
294767  United States           US 2022-07-31    Films            8
293425  United States           US 2023-11-12    Films            6
295448  United States           US 2021-12-05    Films            9
294549  United States           US 2022-10-16    Films           10

                             show_title season_title  \
294906                      10,000 B.C.          NaN
294767                        12 Strong          NaN
293425                   13 Going on 30          NaN
295448  14 Peaks: Nothing Is Impossible          NaN
294549                         17 Again          NaN

        cumulative_weeks_in_top_10  year
294906                           1  2022
294767                           3  2022
293425                           1  2023
295448                           1  2021
294549                           1  2022
處理後的資料筆數: 977

# 七、為最新的資料集重新分配ID＆檢查筆數

In [12]:
# 先根據 'year' 欄位由遠到近排序
df_latest_movie = df_latest_movie.sort_values(by='week', ascending=True).reset_index(drop=True)

# 生成四位數的唯一ID，並命名格式為 'r_0001', 'r_0002', ...
df_latest_movie['show_newid'] = ['r_{:04d}'.format(i) for i in range(1, len(df_latest_movie) + 1)]

# 顯示新增欄位後的 DataFrame
print(df_latest_movie.head())

# 顯示資料筆數和欄位資訊
print(df_latest_movie.info())

    country_name country_iso2       week category  weekly_rank  \
0  United States           US 2021-07-04    Films           10
1  United States           US 2021-07-04    Films            9
2  United States           US 2021-07-04    Films            4
3  United States           US 2021-07-04       TV            5
4  United States           US 2021-07-04       TV            7

                       show_title                               season_title  \
0      Terminator 2: Judgment Day                                        NaN
1  The Mitchells vs. The Machines                                        NaN
2                     Wish Dragon                                        NaN
3           The Seven Deadly Sins  The Seven Deadly Sins: Dragon's Judgement
4          Newly Rich, Newly Poor           Newly Rich, Newly Poor: Season 1

   cumulative_weeks_in_top_10  year show_newid
0                           1  2021     r_0001
1                           1  2021     r_0002
2                           1  2021     r_0003
3                           1  2021     r_0004
4                           1  2021     r_0005
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country_name                977 non-null    object
 1   country_iso2                977 non-null    object
 2   week                        977 non-null    datetime64[ns]
 3   category                    977 non-null    object
 4   weekly_rank                 977 non-null    int64
 5   show_title                  977 non-null    object
 6   season_title                320 non-null    object
 7   cumulative_weeks_in_top_10  977 non-null    int64
 8   year                        977 non-null    object
 9   show_newid                  977 non-null    object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 76.5+ KB
None

# 八、用另一電影資料集以其「show_title」作mapping，納入新的「synopsis」欄位

In [13]:
#讀入另一整理好的電影資料集
movie_data_cleaned = pd.read_csv('/content/netflix-analysis/netflix_data_cleaned/movie_cleaned_data.csv')

In [14]:
print(movie_data_cleaned.info())
print(movie_data_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5949 entries, 0 to 5948
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   show_id     5949 non-null   object
 1   type        5949 non-null   object
 2   show_title  5949 non-null   object
 3   director    5949 non-null   object
 4   cast        5949 non-null   object
 5   year        5949 non-null   int64
 6   rating      5949 non-null   object
 7   duration    5949 non-null   object
 8   genres      5949 non-null   object
 9   country     5949 non-null   object
 10  synopsis    5949 non-null   object
 11  show_newid  5949 non-null   object
dtypes: int64(1), object(11)
memory usage: 557.8+ KB
None
  show_id   type               show_title  \
0   s8206  Movie     The Battle of Midway
1   s8641  Movie         Tunisian Victory
2   s7220  Movie  Know Your Enemy - Japan
3   s7295  Movie       Let There Be Light
4   s8588  Movie              Thunderbolt

                                            director  \
0                                          John Ford
1  Frank Capra, John Huston, Hugh Stewart, Roy Bo...
2                           Frank Capra, Joris Ivens
3                                        John Huston
4                        William Wyler, John Sturges

                           cast  year rating duration  \
0     Henry Fonda, Jane Darwell  1942  TV-14   18 min
1              Burgess Meredith  1944  TV-14   76 min
2   Walter Huston, Dana Andrews  1945  TV-14   63 min
3                 Walter Huston  1946  TV-PG   58 min
4  James Stewart, Lloyd Bridges  1947  TV-PG   42 min

                          genres                        country  \
0  Classic Movies, Documentaries                  United States
1  Classic Movies, Documentaries  United States, United Kingdom
2  Classic Movies, Documentaries                  United States
3  Classic Movies, Documentaries                  United States
4  Classic Movies, Documentaries                  United States

                                            synopsis show_newid
0  Director John Ford captures combat footage of ...     s_0001
1  British and American troops join forces to lib...     s_0002
2  Though culturally insensitive by modern standa...     s_0003
3  Some returning combat veterans suffer scars th...     s_0004
4  A P-47 Thunderbolt squadron is shown in prepar...     s_0005

In [15]:
# 確保 'synopsis' 欄位存在於 movie_data_cleaned
if 'synopsis' not in movie_data_cleaned.columns:
    print("Error: 'synopsis' 欄位不存在於另一個電影資料集中")
else:
    # 將 df_latest_movie 與 movie_data_cleaned 根據 'show_title' 欄位進行左連接 (映射 'synopsis')
    df_latest_movie = df_latest_movie.merge(movie_data_cleaned[['show_title', 'synopsis']],
                                            on='show_title', how='left')

    # 檢查合併後的 DataFrame
    print(df_latest_movie.head())
    print(df_latest_movie.info())

    country_name country_iso2       week category  weekly_rank  \
0  United States           US 2021-07-04    Films           10
1  United States           US 2021-07-04    Films            9
2  United States           US 2021-07-04    Films            4
3  United States           US 2021-07-04       TV            5
4  United States           US 2021-07-04       TV            7

                       show_title                               season_title  \
0      Terminator 2: Judgment Day                                        NaN
1  The Mitchells vs. The Machines                                        NaN
2                     Wish Dragon                                        NaN
3           The Seven Deadly Sins  The Seven Deadly Sins: Dragon's Judgement
4          Newly Rich, Newly Poor           Newly Rich, Newly Poor: Season 1

   cumulative_weeks_in_top_10  year show_newid  \
0                           1  2021     r_0001
1                           1  2021     r_0002
2                           1  2021     r_0003
3                           1  2021     r_0004
4                           1  2021     r_0005

                                            synopsis
0                                                NaN
1                                                NaN
2  Determined teen Din is longing to reconnect wi...
3                                                NaN
4                                                NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country_name                977 non-null    object
 1   country_iso2                977 non-null    object
 2   week                        977 non-null    datetime64[ns]
 3   category                    977 non-null    object
 4   weekly_rank                 977 non-null    int64
 5   show_title                  977 non-null    object
 6   season_title                320 non-null    object
 7   cumulative_weeks_in_top_10  977 non-null    int64
 8   year                        977 non-null    object
 9   show_newid                  977 non-null    object
 10  synopsis                    202 non-null    object
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 84.1+ KB
None

# 九、存成csv作未來使用

## 9-1 保留電影描述的空值，直接存（排行潛力預測功能不採納使用）

In [17]:
# 9-1 保留電影描述的空值，直接存（排行潛力預測功能不採納使用）
df_latest_movie.to_csv('df_leaderboard_add_synopsis.csv', index=False)  # 保存為csv，不保存索引

# 已經將此csv存上github備存

## 9-2 刪除沒有對應到電影描述的紀錄（排行潛力預測功能採納使用）

In [18]:
# 9-2  刪除沒有對應到電影描述的紀錄（排行潛力預測功能採納使用）
df_leaderboard_without_nan = df_latest_movie.dropna(subset=['synopsis'])
df_leaderboard_without_nan.to_csv('df_leaderboard_without_nan.csv', index=False)  # 保存為csv，不保存索引

# 已經將此csv存上github備存